.five{padding-left: 250px;

}

.six{padding-left: 140px;

}
.A{background-color: lightsalmon;}

.imog{float: left;
width: 70%;
height: 500px;
}



.bigdiv{
    float:right;
    width: 30%;
    height: 500px;
    
}
.cd{
    padding-top: 20px;
}

.img{padding: 20px;}

.ul{
    padding-left: 65%;
}